/* Header */
header, 
header a, 
header ul, 
header li, 
header div, 
header span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}
:root {
    --bg-color: #f2f7f5;
    --snd-bg-color: #dfe7fd;
    --text-color: #333;
    --main-color: #5ab9ea;
}
html {
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    padding-top: 100px;
    font-family: 'roboto', sans-serif,Arial, Helvetica;
}
section {
    min-height: 100vh;
    padding: 10rem 8% 2rem;
}
/* Header Section */
header {
    font-size: 14px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}
.logo {
    font-size: 30px;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 20px; 
}
.logo:hover {
    transform: scale(1.1);
}
span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}
.navbar a {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 2rem;
    transition: all 0.s ease;
    /* border-bottom: 3px solid transparent; */
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.nav-btn {
    display: flex;
    padding: 1rem 2rem;
    background: var(--main-color);
    color: white;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.5s ease;
}
.nav-btn:hover {
    background: #3a91c2;
    box-shadow: 0 0 10px var(--main-color);
}
#menu-icon {
    font-size: 35px;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}



/* Feedback  */
body{
    font-family: 'roboto',Arial,Helvetica;;
    /* background:linear-gradient(to right,#a39aea,#feb47b); */
    background: rgb(228, 227, 227);
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 15px;
}
.feedback-container{
    width: 650px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 250px;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2);
    background-color: #e7f1f7;
}
fieldset{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
    
}
legend{
    font-weight: bold;
    font-size: 1.1rem;
}
#firstName{
    margin-bottom: 10px;
}
#send-message{
    display: block;
    margin: 0 auto;
    padding: 7px;
}
.form-header{
    text-align: center;
}
.form-header i,h2{
    color: rgb(71, 71, 71);
    font-size: 28px;
}
label{
    font-weight: bold;
    color: rgb(71, 71, 71);
}
.content input{
    border: 1px solid rgb(146, 145, 145);
    border-radius: 4px;
    padding: 10px;
    width: 95%;
    background-color: rgb(239, 239, 239);
}
textarea{
    width:95%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    resize: none;
    background-color: rgb(239, 239, 239);;
}
.center-content{
    display: block;
    margin: 0 auto;
}
.new-user{
    justify-content: center;
}
.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
#referral-source{
    border-radius: 4px;
    width: 99%;
}
.star-rating label:hover{
    color: rgb(255, 200, 0);
}
#submit{
    display: block;
    padding: 13px 24px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(52, 78, 116);
    color: white;
}
#submit:hover{
    background-color: rgb(125, 198, 227);
    color: rgb(255, 255, 255);
}
.finalize{
    display: flex;
    justify-content: center;
}
/* Preview */
.toggle{
    display: none;
}
.popup-window label{
    display: inline-block;
    border-radius: 4px;
    padding: 10px 15px;
    background: rgb(66, 97, 192);
    color: white;
    cursor: pointer;
}
.pop-up{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    width: 650px;
    margin-top: 30px;
}
.toggle:checked +label +.pop-up{
    display: block;
}
.preview-content{
    margin-left: 10px;
    font-family: 'roboto';
}
/*Rating star*/
.rating-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
.star-rating{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.star-rating input{
    display: none;
}
.star-rating label{
    font-size: 24px;
    color: rgb(146, 145, 145);
    cursor: pointer;
}
.star-rating input:checked ~ label{
    color: gold;
}
#submit input:valid{
    border-color: red;
}
.error-message{
    color: red;
    font-size:0.9em;
    display: none;
}
input:valid + .error-message{
    display: block;
}



/* Footer CSS */
footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'roboto';
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    max-width: 1170px;
    line-height: 1.5;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(43, 61, 79);
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h3{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 550;
    position: relative;
}
.footer-col ul li{
    margin-bottom: 10px;
}
.footer ul li {
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
}
.footer .container a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:  rgb(26, 188, 156);
    padding-left: 10px ;
    text-decoration: underline;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(26, 188, 156);
    margin: 0 5px 5px 0;
    text-align: center;
    border-radius: 40%;
    line-height: 40px;
    transform: all 0.3s ease;
}
.footer-col .social-links a:hover{
    background-color: white;
    color: rgb(43, 61, 79);
}
.footer-col .notify input{
    border-radius: 5px;
    border: none;
    padding: 15px;
    height: 25px;
    width: 90%;
    margin-bottom: 10px;
}
.footer-col .notify button{
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 25px;
    text-align: center;
    margin-left: 30%;
    color: rgb(43, 61, 79);
}
.footer-col .notify button:hover{
    background-color: rgb(26, 188, 156);
    color: white;
}
.footer-bottom a,
.footer-bottom p{
    text-align: center;
    font-size: 10px;
    color: white;
}